/*variaveis*/
:root {
  --rosa: #f44798;
  --preto: #111412;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base do site*/
body {
  background: var(--preto);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

header .container {
  /* design flexbox*/
  display: flex;
  flex-direction: row; /* padrao é row*/
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--rosa);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: aliceblue;
}

/* estilo relacionado ao filme/serie principal */

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/jane.jpg");

  height: 400px;
  background-size: cover;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.titulo {
  margin-top: 10%;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: aliceblue;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 30px;
  margin-right: 10px;
}

.filme-principal .container {
  width: 60%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}
.carrosel-filmes {
  margin: 10px;
}

.sub-titulo h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  color: #aaa;
  font-size: 16px;
}
